%dot {
  display: block;
  content: '';
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  transition: background-color 0.7s;
}

.dot {
  @extend %dot;
  
  &:hover {
    background-color: #fff;
  }
}